.actionButtons {
  display: none;

  @media (min-width: $mantine-breakpoint-xs) {
    display: flex;
    position: absolute;
    left: -4.5rem;
    flex-shrink: 0;
  }
}

.actionBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--mantine-spacing-xs);
  background-color: #ffffff1a;

  @media (min-width: $mantine-breakpoint-xs) {
    display: none;
  }
}
