.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
}

.actions {
  padding: var(--mantine-spacing-xs);
  display: flex;
}
