.section {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: calc(var(--mantine-spacing-xs));
  /* margin: calc(var(--mantine-spacing-xs) * -1); */
}

.userId {
  font-size: var(--mantine-font-size-xs);
}
